@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


#logo{
    position: absolute;
    float: left;
    top: 0px;
    Background-color: black;
    border: solid thick white;
    margin-left:20px;
}

#center-logo{
    position: absolute;
    float: left;
    margin-top: 60px;
    margin-left:20px;
    
    text-align: center;
    color: white;
}
.fullwidth{
    width: 100%;
    max-width: 100%;
}

/* nav > ul > li{ */
/*     display:flex; */
/*     justify-content:left; */
/* } */

h1 {
    color: teal;
}

nav{
    background-color: #AABD8D;
    font-size: 1.2em;
    line-height: 3em;
    text-align:right;
    
}

nav a{
    color: blanchedalmond;
    text-decoration: none;
}

nav a:hover{
    background-color:#7ca6bb;
    color: #f7f4e7;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

nav li{
    display: inline-block;

}

.header-flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}

h1, h2, h3, h4, h5, h6{

    color: #7ca6bb;
    font-family: 'Rock Salt', cursive;
    margin-bottom: -15px;
}

#row1, #row2{
    padding: 1.1em;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

#row2{
    Background-color: blanchedalmond;
}
/* #row1{ */
/*     padding: 1.1em; */
/*     display:flex; */
/* } */
/* #row2{ */
/*     Background-color: blanchedalmond; */
/*     padding: 1.1em; */
/*     display:flex; */
/* } */

#row3{
    text-align: center;
    padding: 10px;
}
.color01{
    /* color: rgb(78, 102, 44); */
    color: black;
}

#w-content{
    width: 100%;
    /* 0 is the top part and the auto is the left and right part of your webpage */
    margin: 0 auto;
}

#logo-size{
    width: auto;
}

.left-column, .right-column{
    width: 48%;
    padding: 10px;
    flex: 1 0 15em;
}



footer > div > a{
    margin: 10px;
}

.h2-line-height{
    line-height:150%;
    margin-bottom:10px;
}
.border-color{
    display:flex;
    flex-direction: column;
    padding-bottom: 4px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;

}

.banner-color1{
    background-color: #AABD8D;
    width: 100%;
    height: 3px;
    
}
.banner-color2{
    background-color: #769dff;
    width: 100%;
    height: 3px;
}

.center-piece{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    border-style: solid;
    border-width: 5px;
    border-color:#AABD8D;
    
}

.red{
    
    width: 50%;
    height: 800px;
    background-color:blanchedalmond;
    overflow: scroll;
    
}

.green{
    
    width: 50%;
    height: 400px;
    background-color: white;
    overflow: scroll;
}

.blue{
    
    width: 50%;
    height: 400px;
    background-color: white;
    overflow: scroll;
} 


.bottom-images{
    height: 267px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    overflow: auto;

}

.right-image, .center-right, .center-left, .left-image{
    background-color: white;
}


.flex-footer{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


footer > div > a{
    margin: 10px;
}

.green-box{
    background-color:green;
}

.offset-left{
    background-color:blue;
}

.offset-right{
    background-color:grey;
}

.l-top-box{
    background-color:yellow;
}

.l-bottom-box{
    background-color:orange;
}

.r-top-box{
    background-color:aqua;
}

.r-bottom-box{
    background-color: pink;
}



.center-piece-second {
    height: 800px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content:center;
}

.l-green-box{
    flex:1;
    background-color: #AABD8D;
    margin: 20px;
   
}

.serv-offset-left{
  flex:3;
}


.serv-l-top-box{
    height:75%;
  flex:1;
  overflow: auto;
}


.serv-l-bottom-box{
    height:25%;
  flex:1;
}

.serv-offset-right{
   flex:3;
}


.serv-r-top-box{
    height:25%;
  flex:1;

}


.serv-r-bottom-box{
    height:75%;
  flex:1;
  overflow: scroll;
}

.r-green-box{
  flex:1;
    background-color: #AABD8D;   
   margin: 20px;
}

.serve-images{
   height: 100%;
   width: 100%;
}